:root {
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 500;
  color: white;
  background-color: white;
  opacity: 1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background-image: url('../assets/RickStein.png'); 
  background-size: 45%; 
  background-position: bottom left; 
  background-repeat: no-repeat; 
}

p {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1rem;
  color: #333;
  margin-top: 0;
  text-align: center;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 50px;
  background-color: #ffffff;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0;
}

.nav-link,
.back-button {
  text-decoration: none;
  font-size: 0.8rem;
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: bolder;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
}

h1 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 3rem;
  color: #333;
  margin-top: -50px;
  text-align: center;
  padding-top: 1rem;
  font-weight: 700;
}

.link {
  text-decoration: none; 
  color: inherit; }


h2 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 2.5rem;
  color: #333;
  margin-top: 0;
  text-align: center;
  padding-top: 1rem;
  font-weight: 700;
}

.back-button-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}


.recipe-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  max-height: 80vh;
  overflow-y: auto;
}

.Homepage {
  position: relative;
}

.content {
  max-width: 800px;
}

.coherance-image {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 500px; 
  max-width: 70%; 
  opacity: 0.5; 
}

.video-container {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 80%;
}


@media (max-width: 800px) {
  .FishAnatomy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .FishAnatomy img {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }

  .FishAnatomy .MuiTypography-root {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 0.8rem; 
    text-align: center;
  }

  .FishAnatomyModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 350px;
    max-height: 80vh;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    font-family: 'Sorts Mill Goudy', serif;
  }

  .FishAnatomyModal img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
  }

  .FishAnatomyModal .MuiTypography-root {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 0.8rem;
    text-align: left;
  }

  .FishAnatomyModal .MuiButton-root {
    color: black;
    background-color: white;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 0.8rem;
  }

  .FishAnatomyModal .MuiIconButton-root {
    color: black;
    background-color: white;
  }


  .FishAnatomy img {
    max-width: 100%; 
    height: auto; 
    border-radius: 5px;
    margin-bottom: 1rem; 
  }

  .FishAnatomy .MuiTypography-root {
    font-size: 0.8rem; 
    margin-top: 0.5rem; 
    margin-bottom: 0.5rem; 
  }

  .recipe-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-height: 80vh;
    overflow-y: auto; 
  }

  .recipe-list-container .MuiTypography-root {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 0.8rem; 
  }

  .recipe-list-container .MuiButton-root {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 0.6rem; 
    padding: 0.3rem 0.5rem; 
  }

  .recipe-list-container .MuiIconButton-root {
    color: black;
    background-color: white;
    padding: 0.3rem; 
  }
}

