:root {
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
    background-color: white;
    opacity: 1;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative; /* Ensure body is relative for absolute positioning */
  }
  
  p {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 1rem;
    color: #333;
    margin-top: 0;
    text-align: center;
  }
  
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 50px;
    background-color: #ffffff; 
  }
  
  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0;
  }
  
  .nav-link,
  .back-button { 
    text-decoration: none;
    font-size: 0.8rem;
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: bolder;
    letter-spacing: 1px;
    color: rgb(0, 0, 0); 
    padding: 0.5rem;
  }
  
  h1 {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 3rem;
    color: #333;
    margin-top: -50px;
    text-align: center;
    padding-top: 1rem;
    font-weight: 700;
  }
  
  .back-button-container {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
  }
  
  @media (max-width: 768px) {
    :root::before {
      background-size: 100%;
      background-position: right bottom;
    }
  
    h1 {
      font-size: 1.5rem;
      margin-top: -10px;
    }
  
    p {
      font-size: 0.8rem;
      margin-top: -5px;
    }
  
    .nav-list {
      flex-direction: column;
    }
  
    .nav-link {
      font-size: 0.6rem;
      padding: 0.3rem;
      margin: 0.2rem;
    }
  }
  